db
greybox_tmp
incremental_db
output_files
simulation
hc_output
scaler
hps_isw_handoff
vip
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*_netlist
*.cdf
**/.DS_Store
verilator/.vs/sim/v17/.suo
verilator/.vs/sim/v17/Browse.VC.db
verilator/.vs/sim/v17/Browse.VC.db-shm
verilator/.vs/sim/v17/Browse.VC.db-wal
verilator/.vs/sim/v17/Browse.VC.opendb
verilator/obj_dir/Vtop__1__Slow.cpp
verilator/obj_dir/Vtop__1.cpp
verilator/obj_dir/Vtop__2.cpp
verilator/obj_dir/Vtop__Dpi.cpp
verilator/obj_dir/Vtop__Dpi.h
verilator/obj_dir/Vtop__Slow.cpp
verilator/obj_dir/Vtop__Syms.cpp
verilator/obj_dir/Vtop__Syms.h
verilator/obj_dir/Vtop__Trace__Slow.cpp
verilator/obj_dir/Vtop__Trace.cpp
verilator/obj_dir/Vtop__ver.d
verilator/obj_dir/Vtop__verFiles.dat
verilator/obj_dir/Vtop_classes.mk
verilator/obj_dir/Vtop.cpp
verilator/obj_dir/Vtop.h
verilator/obj_dir/Vtop.mk
verilator/x64/Release/imgui_draw.obj
verilator/x64/Release/imgui_impl_dx11.obj
verilator/x64/Release/imgui_impl_win32.obj
verilator/x64/Release/imgui_tables.obj
verilator/x64/Release/imgui_widgets.obj
verilator/x64/Release/imgui.obj
verilator/x64/Release/ImGuiFileDialog.obj
verilator/x64/Release/implot_items.obj
verilator/x64/Release/implot.obj
verilator/x64/Release/sim_audio.obj
verilator/x64/Release/sim_bus.obj
verilator/x64/Release/sim_clock.obj
verilator/x64/Release/sim_console.obj
verilator/x64/Release/sim_input.obj
verilator/x64/Release/sim_main.obj
verilator/x64/Release/sim_video.obj
verilator/x64/Release/sim.exp
verilator/x64/Release/sim.lib
verilator/x64/Release/sim.log
verilator/x64/Release/sim.pdb
verilator/x64/Release/vc143.pdb
verilator/x64/Release/verilated_save.obj
verilator/x64/Release/verilated_vcd_c.obj
verilator/x64/Release/verilated.obj
verilator/x64/Release/Vtop__Slow.obj
verilator/x64/Release/Vtop__Syms.obj
verilator/x64/Release/Vtop__Trace__Slow.obj
verilator/x64/Release/Vtop__Trace.obj
verilator/x64/Release/Vtop.obj
verilator/x64/Release/sim.tlog/CL.command.1.tlog
verilator/x64/Release/sim.tlog/CL.read.1.tlog
verilator/x64/Release/sim.tlog/CL.write.1.tlog
verilator/x64/Release/sim.tlog/link-cvtres.read.1.tlog
verilator/x64/Release/sim.tlog/link-cvtres.write.1.tlog
verilator/x64/Release/sim.tlog/link-rc.read.1.tlog
verilator/x64/Release/sim.tlog/link-rc.write.1.tlog
verilator/x64/Release/sim.tlog/link.command.1.tlog
verilator/x64/Release/sim.tlog/link.read.1.tlog
verilator/x64/Release/sim.tlog/link.read.2.tlog
verilator/x64/Release/sim.tlog/link.write.1.tlog
verilator/x64/Release/sim.tlog/sim.lastbuildstate
verilator/x64/Release/sim.tlog/unsuccessfulbuild
